@model Sueep.Models.Sueeper
@*@model IEnumerable<Sueep.Models.Sueeper>*@

@{
    ViewData["Title"] = "sueeperdetail";
}

@*<div>
    <label class="field-validation-error" style="color:red">@Html.DisplayFor(model => model.LoginError)</label>
</div>*@
<style>
    @@media (min-width: 1200px) {
        .container {
            min-height: 500px;
        }
    }
</style>
<div>
    <h4>Sueeper</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" hidden="hidden">
            @ViewBag.Id
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Name
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Email
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Phone
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.City
        </dd>


        <dt class="col-sm-2">
            Social Security Number
        </dt>

        <dd class="col-sm-10">
            @ViewBag.Socialsecuritynumber
        </dd>



        <dt class="col-sm-2">
           Do you have car
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Do_you_have_car
        </dd>

        <dt class="col-sm-2">
            Can you buy cleaning products
        </dt>

        <dd class="col-sm-10">
            @ViewBag.Can_you_buy_cleaning_products
        </dd>

        <dt class="col-sm-2">
            Zip Code
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Zipcode
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.lng)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.lng
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.lat)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.lat
        </dd>


    </dl>
</div>

<div>
    @*<input type="submit" id="@ViewBag.Id" value=" show" />*@

    @Html.ActionLink("Total Services", "Totalservices", new { sueeperid = @ViewBag.Id })

    <a href="#" value=" @ViewBag.Id"></a>
    <a asp-action="Index">Back to List</a>

</div>
